[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:manlycode/snipmate.vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/manlycode/snipmate-snippets.git
[submodule "bundle/hemingway"]
	path = bundle/hemingway
	url = git://github.com/manlycode/hemingway.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/demimitMate"]
	path = bundle/demimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/bronson/vim-taglist.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/markabe/bufexplorer.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = http://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/slurper"]
	path = bundle/slurper
	url = http://github.com/alowe/vim-slurper.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
